{{ define "main" }}

{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .Site.Params.excerpts }}

{{- range $Pages }}
  {{ partial "partials/summary_div.html" . }}
{{- end }}

{{ else }}

<article>
  {{ partial "partials/breadcrumb.html" . }}
  {{ if or (eq .Title "Home") (eq .Title "首页") }}
    <!-- 首页 -->
    <header><h1>{{ .Title }}</h1></header>
    {{ .Content }}
    <h2>{{ "最近更新" | default "最近更新" | humanize}}</h2>
    {{ with .Site.GetPage "section" "posts" }}
      {{ range first 3 .Pages }}
        {{ partial "partials/summary_div.html" . }}
      {{ end }}
    {{ end }}
  {{ else if or (eq .Name "Tags") (eq .Name "Categories") }}
    <!-- 分类标签的列表页 -->
    <header><h1>{{ .Title | default "归档" | humanize }}</h1></header>
    {{ partial "partials/by_page_taxonomy.html" .}}
  {{ else }}
    <!-- 其他 section 目录 -->
    <!-- {{ partial "partials/summary.html" . }} -->
    <header><h1>{{ .Title | default "归档" | humanize }}</h1></header>
    {{ .Content }}
    <ul class="archive">
      {{ if eq .Page.Section "posts" }}
        {{ partial "partials/by_page_date_year.html" . }}
      {{ else }}
        {{ partial "partials/by_page_date_month.html" . }}
      {{ end }}
    </ul>
  {{ end }}
</article>

{{ end }}

{{ end }}