{{ define "main" }}

<article>
  <header class="meta">
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    {{ partial "article_info.html" . }}
  </header>
  {{ partial "toc.html" . }}
  {{ .Content }}
</article>

{{ $Pages := .CurrentSection.Pages.ByWeight.Reverse }}
<footer class="nowrap">
{{- with $Pages.Prev . -}}
  <a class="dark" href="{{ .RelPermalink }}">« {{ .Title }}</a> 
{{- else -}}
  <span></span>
{{- end -}}
{{- with $Pages.Next . -}}
   <a class="dark" href="{{ .RelPermalink }}">{{ .Title }} »</a>
{{- else -}}
  <span></span>
{{- end -}}
</footer>
{{ end }}
