<!-- Groups of tags/categories etc -->
<div class="tags-list">
<ul>
  {{ if eq .Title "Tags" }}
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <li>
        <a href="/tags/{{ $name | urlize }}">{{ $name }}<sub>{{ $taxonomy.Count }}</sub></a>
      </li>
    {{ end }}
  {{ else if eq .Title "Categories" }}
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li>
        <a href="/categories/{{ $name | urlize }}">{{ $name }}<sub>{{ $taxonomy.Count }}</sub></a>
      </li>
    {{ end }}
  {{ end }}
</ul>
</div>